aiogram==3.17.0
anyio==4.2.0
beautifulsoup4==4.12.3
blinker==1.6.2
click==8.1.7
cryptography==43.0.0
cssselect==1.2.0
debugpy==1.6.7
decorator==5.1.1
docstring-to-markdown==0.11
flake8==7.0.0
flask==3.0.3
gitdb==4.0.7
gitpython==3.1.43
importlib-metadata==7.0.1
ipython==8.27.0
json5==0.9.6
markdown==3.4.1
matplotlib==3.9.2
notebook==7.2.2
numpy==1.26.4
pandas==2.2.2
parsel==1.8.1
pexpect==4.8.0
pip==24.2
plotly==5.24.1
pytelegrambotapi==4.26.0
pytest==7.4.4
regex==2024.9.11
scikit-learn==1.5.1
scipy==1.13.1
scrapy==2.11.1
seaborn==0.13.2
sqlalchemy==2.0.34
statsmodels==0.14.2
